body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E7EC;
    padding: 40px;
}
.card{
    width: 100%;
    min-height: 2085px;
    background-color: #F7F8FA;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.heade-section{
    display: flex;
    justify-content: space-between;
    padding: 35px 70px;
}
.first-half-head{
    display: flex;
}
.img-container img{
    width:175px;
    height: 175px;
    padding: 0 25px 0 0;
}
.other-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.patient-name{
    display: flex;
}
.patient-name p{
    font-size: 46px;
    padding: 5px;
    margin: 0;
}
.patient-name:first-child{
    color: #206AA3;
}
.output{
    color: black;
}
.the-info-box{
    padding: 0 70px 0 0;
}
.patient-info-wrap{
    display: flex;
}
.patient-info-wrap > p{
    font-size: 22px;
    padding: 5px;
    margin: 0;
    color: #206AA3;
}
.patient-info-wrap > span{
    font-size: 22px;
    padding: 5px;
    margin: 0;
    color: black;
}
/* .patient-info-wrap:first-child{
    
} */
.logo-address-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
}
.medtel-logo{
    width: 186px;
    height: 127px;
    padding: 0;
    margin: 0;
}
.address{
    font-size: 22px;
    padding: 5px;
    margin: 0;

}





.section2{
    /* width: 100%; */
    background-color: #FFFFFF;
    padding: 0 70px;
    display: flex;
    box-shadow: #00000026 0px 0px 10px;

}
.section2 img{
    width: 40px;
    padding: 0 15px;

}
.section2 h1{
    color: #098FC9;
    padding: 0 15px;
    font-size: 36px;

}




.section3{
    padding: 35px 70px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: #00000029 0 0 10px;
    background-color: #FFFFFF;
}
.container img{
    height: 100px;
}
.container p{
    font-size: 24px;
    padding: 0 19px;
    color: #206AA3;
}
.graph-container{
   display: flex;
   padding: 0;
   margin: 0;
}
.cholesterol-card{
    width:550px;
    margin: 25px 100px 20px 0;
    background-color: #FFFFFF;
    border-radius: 20px;
    transition: 0.3s;
}
.cholesterol-card:hover{
    box-shadow: #23A602 0 10px 8px;
}
.cholesterol-info-graph{
    display: flex;
    padding: 10px 8px;
    justify-content: space-around;
}
.graph-title-one-dis{
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #098FC9;
}
.graph{
    width: 549px;
    height: fit-content;
    border-radius: 0 0 20px 20px;

}
.graph-info-card{
    display: flex;
}
.card1{
    width: 520px;
    margin: 25px 100px 105px 0px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 16px 23px;
    text-align: center;
    font-size: 22px;
    box-shadow: #00000029 0 3px 6px;
    transition: 0.3s;
}
.card1:hover{
    box-shadow: #00000029 0 10px 4px;
}

.graph-title-one-amt{
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #23A602;
}
.non-titled-text{
    text-align: center;
    font-size: 13px;
    padding: 0;
    margin: 0;
}
.chol-graph-logo{
    width: 30px;
    height: 30px;
}
.total-chol-graph{
    padding: 10px 25px;
    width: 375px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4 , 275px);
    column-gap: 100px;
    padding: 0;
    margin: 0;

}
.mini-card{
    height: 218px;
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    transition: 0.4s;
}
.mini-card:hover{
    box-shadow: 5px 5px 10px ;
}
.border-red{
    border: 3px solid #FF0000;
    box-shadow: #FF0000 0 0 15px;
}
.border-green{
    border: 3px solid #23A602;
    box-shadow: #23A602 0 0 15px;
}
.card-inner-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.disease-title{
    color: #098FC9;
    padding: 0;
    margin: 0;
}
.calc-type{
    color: #C4C4C4;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.hdl-logo{
    width: 80px;
    height: 60px;
}
.info-box-small{
    width: 65px;
    margin: 20px 0;
    padding: 5px;
    
}
.info-box-small h6{
    font-size: 13px;
    padding: 0;
    margin: 0;
}
.info-box-small p{
    font-size: 10px;
    padding: 0;
    margin: 0;
}
.bg-high{
   background-color: #FFADAD;;
}
.bg-medium{
    background-color:  #FF8800;
 }
 .bg-low{
    background-color:  #23A602;
 }
 .chol-amt{
    padding: 10px 0 5px 0;
    margin: 0;
 }
 .risk-status{
    padding: 0;
    margin: 0;
    font-size: 14px
 }
 .info-box-ldl{
    width: 76px;
    margin: 10px 0;
    height: 20px;
    padding: 3px;
 }
 .info-box-ldl h6{
    font-size: 11px;
    padding: 0;
    margin: 0;
}
.info-box-ldl p{
    font-size: 9px;
    padding: 0;
    margin: 0;
}
.sm-card{
    text-align: center;
    border-radius: 20px;
    margin-top: 25px;
    background-color: #FFFFFF;
    padding: 15px;
    font-size: 18px;
    transition: 0.3s;
}
.sm-card:hover{
    box-shadow: #C4C4C4 0 0 15px;
}


footer{
    position: relative;
    top:300px;
    padding: 10px 70px;
    background-color: #FFFFFF;
    box-shadow: #00000026 0px 0px 10px;

}
footer h2{
    padding: 0;
    margin: 0 0 20px -15px;
    color: #858585;
}
ol{
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(2 , 450px);
}
li{
    font-size: 14px;
    width: max-content;
    padding: 0;
    margin: 0;
    color: #858585;

}





